# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# SQLite database file
# db.sqlite3

# Django migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo

# Static and media files
/staticfiles/
/media/

# Virtual environment
venv/
env/

# VS Code settings
.vscode/

# Environment variables
.env

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
